# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Output files
output
logs

# Resume files
resumes/*.pdf
resumes/*.docx
resumes/*.doc